**/nbproyecto/privado/
**/nbproject/Makefile-*.mk
**/nbproject/Paquete-*.bash
construir/
nbbuild/
Dist/
nbdist/
.nb-gradle/
/ProyectoComida.EntidadesDeNegocio/build/
/ProyectoComida.AccesoADatos/build/
/ProyectoComida.EntidadesDeNegocio/dist/
/ProyectoComida.AppWeb/build/
/ProyectoComida.AccesoADatos/dist/
